@import url('https://use.typekit.net/qzu8qnj.css');

* {
    font-family: "museo-sans", sans-serif;
}

button {
    background: cadetblue;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: 6px solid white;
}

.col1, .col2 {
    max-width: 45%;
    display: flex;
}