.grid-container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
  }
  
  .grid-item {
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }

  .gameboard-username {
    margin-top: 1rem;
    font-size: xx-large;
    font-weight: lighter;
    color:aquamarine;
  }

  h5 {
    margin-top: 5rem;
    font-size: large;
  }